/*
tag rules
*/
a{
  margin: 10px;
}


/*
Class Rules
*/
.pageTitle{
  text-align: center;
}

.link {
  text-decoration: none;
  color: rgb(207, 204, 204);
  font-size: 30px;
  font-weight:bold

}
.link:hover{
  color: rgb(255, 0, 64);
  border-bottom: 1px solid white;
}

.addIcon{
  color:black;
}
.addIcon:hover{
  color:#80ff00;
}

.addIcon:active{
  color:#80ff00;
  opacity: 0.5;
}

/*
General Flex-box rules
*/

.flexTable{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width:100%;
}

.cell{
  word-break:break-all;
}

.header{
  font-weight:bold;
  font-size:16px
 }

/*
Flex-box class for every table calculate width, and margin
*/
.waitCell{
 flex-basis:calc(90%/8);
 max-width: calc(90%/8);
 margin-left:calc(5%/8);
 margin-right:calc(5%/8);
}

.waiterCell{
  flex-basis:calc(90%/4);
  max-width: calc(90%/4);
  margin-left:calc(5%/4);
  margin-right:calc(5%/4);
 }

 .diningCell{
  flex-basis:calc(90%/5);
  max-width: calc(90%/5);
  margin-left:calc(5%/5);
  margin-right:calc(5%/5);
 }

 .customerCell{
  flex-basis:calc(90%/5);
  max-width: calc(90%/5);
  margin-left:calc(5%/5);
  margin-right:calc(5%/5);
 }








